<h1>Draggable!</h1>

<h2>Part 1 - Basic draggable</h2>
<div class="box" appDraggable>Box 1</div>
<div class="box" appDraggable>Box 2</div>
<div class="box">Box 3</div>

<h2>Part 2 - Movable</h2>
<div class="box" appMovable>Movable 1</div>
<div class="box" appMovable>Movable 2</div>

<h2>Part 3 - The movable area</h2>
<div class="area" appMovableArea>
  <div class="box" appMovable>Trapped movable 1</div>
  <div class="box" appMovable>Trapped movable 2</div>
</div>

<h2>Part 4 - The draggable helper</h2>
<div class="box" appDraggable>
  Box 1
  <div class="box" *appDraggableHelper>Box x</div>
</div>
<div class="box" appDraggable>
  Box 2
  <ng-template appDraggableHelper>
    <div class="box">Box 2</div>
  </ng-template>
</div>

<h2>Part 5 - The sortable directive</h2>
<ul appSortableArea (sort)="sorted($event)">
  <li class="box" *ngFor="let box of sortableList" appSortable>
    {{ box }}
    <div class="box" *appDraggableHelper>{{ box }}</div>
  </li>
</ul>

<ul class="horizontal" appSortableArea (sort)="sorted($event)">
  <li class="box" *ngFor="let box of sortableList" appSortable>
    {{ box }}
    <div class="box" *appDraggableHelper>{{ box }}</div>
  </li>
</ul>
