.box {
  background: #BADA55;
  border: 1px solid black;
  padding: 10px 20px;
  display: inline-block;
  box-sizing: border-box;

  &.dragging {
    background: coral;
  }
}

.area {
  background: #C0FFEE;
  border: 1px solid black;
  padding: 20px;
}

ul {
  margin: 0;
  padding: 0;

  &.horizontal li.box {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
  }
}

li.box {
  display: block;
  margin: 10px 0;
  width: 200px;
}
